<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dragonforest.view.module_notification">

    <application>
        <activity android:name=".SecondActivity"></activity>
        <activity android:name=".MainActivity">
        </activity>

        <receiver android:name=".receiver.NotificationReceiver">
            <intent-filter>
                <action android:name="android.dragonforest.receiver.action.cancel"/>
                <action android:name="android.dragonforest.receiver.action.start"/>
            </intent-filter>
        </receiver>
        <service android:name=".service.NotificationService"/>
    </application>

</manifest>