<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dragonforest.app.module_plan">

    <application>
        <activity
            android:name=".activity.PlanActivityMain"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name=".activity.PlanActivityAddPlan" android:theme="@style/Theme.AppCompat.NoActionBar"/>

    </application>

</manifest>