<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dragonforest.app.dragonforestworld">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".test.TestOADetailActivity"
            android:theme="@style/LoginStyle"></activity>
        <activity
            android:name=".test.TestOAListActivity"
            android:theme="@style/LoginStyle" />
        <activity
            android:name=".biz.mine.activity.message.MessageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SearchActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".biz.mine.activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".biz.mine.activity.ContactUsActivity"
            android:theme="@style/LoginStyle" />
        <activity
            android:name=".welcome.WelcomeActivity"
            android:theme="@style/LoginStyle" />
        <activity
            android:name=".activity.WebArticleDetailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/MainStyle" />
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.MainService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>